# Terraform
.terraform/
**/.terraform/
*.tfstate
*.tfstate.*
crash.log
crash.*.log

# key
**/*.pem
**/*.ppk
**/*.tfplan
keys/
*.pem
*.pub

**/_glue_assets/

# Terraform lock file
!**/.terraform.lock.hcl

# local artifacts
plan.txt
*.plan
*.txt
tf_export/
**/tf_export/

# sensitive

# CLI overrides
override.tf
override.tf.json
*_override.tf
*_override.tf.json

**.json
*.json
**.sh
*.sh
**.zip

*.tgz

infra/test/
**.DS_Store

check_and_generate_fix_commands.py
