POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_USER=app
POSTGRES_PASSWORD=app
POSTGRES_DB=app
CORS_ORIGINS=["http://localhost:3000"]
KEYCLOAK_ISSUER_URL=https://dev.loginproxy.gov.bc.ca/auth/realms/standard
KEYCLOAK_CLIENT_ID=conn-hub-6434
SESSION_COOKIE_NAME=telecom_session
SESSION_SECRET=replace-with-the-same-secret-used-by-next
